.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-height);
    display: flex;
}

.content {
    flex: 1;
}
